@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.rooms {
  @include indents(0 16px 10px, 0);
  @include size(100%, 100%);
  @include flex(column, center, center, 20px);
  background-color: $secondary-color;

  &__heading {
    @include size(50%, auto);
    @include indents();
    color: $main-color;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
    line-height: 1;
  }

  &__content {
    @include size(100%, 100%);
    @include flex(column, flex-start, center, 20px);
  }

  &__select {
    position: relative;
    @include size(100%, 28px);
    @include indents(6px, 0);
    border: none;
    // background-color: $black-color;
    border-radius: $radius-40;

    &:checked {
      color: #FFF;
    }
  }

  &__roomList {
    @include size(100%, auto);
    @include max-size(100%, calc(var(--tg-viewport-height) - 20vh));
    @include flex(column, flex-start, center, 8px);
    overflow-y: scroll;
  }
}