@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.button {
  @include size(44px, 44px);
  @include flex(row, center, center);
  background-color: $main-color;
  border-radius: $radius-round;

  &__tasks {
    @include size(50%, 35%);
  }
}

.whiteButton {
  background-color: $main-color;
}

.pinkButton {
  background-color: $secondary-color;
}