@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.banner {
  @include position(relative);
  @include indents(16px, 0);
  @include min-size(100%, 90px);
  @include max-size(100%, 164px);
  @include size(100%, 100%);
  @include flex(row, space-between, center);
  border: 1px $main-color solid;
  border-radius: $radius-12;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  @media screen and (min-height: 768px) and (max-height: 1024px) {
    @include size(100%, 164px);
  }

  &__link {
    @include size(100%, 50%);
    text-decoration: none;
  }

  &__sliderButton {
    @include size(auto, 100%);
    @include button-style-reset();
    align-self: flex-end;
  }

  &__text {
    @include indents(30px, 0);
    color: $main-color;
  }

  &__indicators {
    @include indents(4px 6px, 0);
    @include flex(row, $gap: 2px);
    @include position(absolute, $bottom: 8px, $left: 50%);
    transform: translate(-50%);
    background-color: $black-color;
    border-radius: 40px;
  }

  &__indicator {
    @include indents();
    @include size(6px, 6px);
    border: none;
    border-radius: 100%;
    background-color: $main-color;
  }
}

.activeIndicator {
  background-color: $secondary-color;
}