@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.banner {
  @include position(relative);
  @include indents(16px, 0);
  @include size(100%, 140px);
  @include flex(row, space-between, center);
  border: 1px $main-color solid;
  border-radius: $radius-15;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  text-decoration: none;

  &__sliderButton {
    @include button-style-reset();
    align-self: flex-end;
  }

  &__text {
    color: $main-color;
  }

  &__indicators {
    @include indents(4px 6px, 0);
    @include flex(row, $gap: 2px);
    @include position(absolute, $bottom: 8px, $left: 50%);
    transform: translate(-50%);
    background-color: $black-color;
    border-radius: 40px;
  }

  &__indicator {
    @include indents();
    @include size(6px, 6px);
    border: none;
    border-radius: 100%;
    background-color: $main-color;
  }
}

.activeIndicator {
  background-color: $secondary-color;
}