@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.loader {
  @include size(100%, 100vh);
  @include flex(column, center, center, 2px);
  color: $main-color;

  &__text {
    @include indents;
    color: $main-color;
    font-style: italic;
    font-weight: 200;
  }
}