@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.referral {
  @include children-layout();
  justify-content: flex-start;

  &__content {
    @include indents();
    @include size(100%, 140px);
    background-color: $tertiary-color;
  }

  &__buttonWrapper {
    @include indents(0 16px, 0);
    @include min-size(100%, 40px);
  }

  &__inviteButtonWrapper {
    @include indents();
    @include size(70%, 40px);
  }

  &__amount {
    @include min-size(100%, auto);
    @include flex(column, center, center);
  }

  &__weekly {
    @include size(100%, auto);
    @include flex(column, center, center, 10px);
  }

  &__text {
    @include size(80%, unset);
    @include indents();
    @include flex(row, center, center, 10px);
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: $main-color;
  }

  &__sumSpan {
    color: $mustard-color;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  &__emptyBoardMessage {
    @include size(100%, auto);
    @extend .referral__sumSpan;
  }

  &__h3 {
    @include indents();
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: $main-color;
    font-size: 32px;
    text-align: center;
  }

  &__notification {
    @include indents();
    @include size(calc(100% - 32px), 100%);
    @include flex(column, center, center);
    color: $main-color;
    font-weight: 900;
  }
}