@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.item {
  @include max-size(136px, 136px);
  @include size(100%, 100%);
  background: $tertiary-color;
  border-radius: $radius-10;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &__avatarContainer {
    @include indents();
    @include position(relative);
    @include size(90px, 90px);
  }
}