@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.hands {
  @include size(100%, auto);

  &__mainImage {
    @include size(200px, auto);

    @media screen and (min-height: 691px) {
      @include size(226px, auto);
    }
  }

  &__leftMainImage {
    @include position(absolute, $top: 50%, $left: -10%);
    transform: translateY(-50%);
  }

  &__rightMainImage {
    @include position(absolute, $top: 50%, $right: -10%);
    transform: translateY(-50%);
  }
}