@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.product {
  @include children-layout();
  @include position(relative);
  justify-content: center;

  &__avatarContainer {
    @include indents();
    @include position(relative);
    @include min-size(100px, 100px);
    @include size(auto, auto);
    @include max-size(220px, 220px);
    aspect-ratio: 1;
    z-index: 5;

    @media screen and (min-height: 700px) {
      @include max-size(70%, 50%);
    }
  }

  &__info {
    @include size(100%, auto);
    @include flex(column, center, center, 16px);
    @include position(absolute, $left: 50%, $bottom: 80px);
    transform: translate(-50%);
    z-index: 1;
  }

  &__type {
    @include indents();
    color: $main-color;
    font-weight: 200;
    font-size: 18px;
    text-transform: lowercase;
  }

  &__buttonWrapper {
    @include size(100%, 42px);
    @include max-size(312px, auto);
  }

  &__buttons {
    @include size(100%, auto);
    @include flex(column, center, center, 8px);
  }

  &__notification {
    @include indents();
    @include size(100%, 100%);
    @include flex(column, center, center);
    color: $main-color;
    font-weight: 900;
  }
}