@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.create {
  @include size(100%, 100vh);
  min-height: calc(100vh + 1px);
  @include indents(0 $space-16 $space-16, 0);
  @include flex(column, flex-start, center);

  &__header {
    @include indents(0 $space-16, 0);
    @include size(100%, 25vh);
    @include flex(column, center, center);
    background-color: $secondary-color;
  }

  &__content {
    @include size(100%, auto);
    @include flex(column, space-between, flex-end, $space-16);
    overflow: visible;
  }

  &__game-card {
    &:nth-child(odd) {
      align-self: flex-end;
    }

    &:nth-child(even) {
      align-self: flex-start;
    }
  }


  &__heading {
    @include indents();
    @include page-title();
    text-align: center;
  }

  &__bets {
    @include size(100%, 100%);
    @include flex(column, center, flex-start, $space-16);
  }

  &__buttons {
    @include indents(0, 0 0 $space-40 0);
    @include size(100%, auto);
    @include flex(row, space-between, center, $space-8);
  }

  &__label {
    @include indents($space-12 24px, 0);
    @include size(100%, auto);
    @include flex(row, space-between, center, $space-8);
    border: 1px $main-color solid;
    border-radius: $radius-12;
  }

  &__input {
    @include indents($space-8, 0);
    @include size(90px, 40px);
    border: none;
    border-radius: $radius-12;
    background: $main-color;
    text-align: center;
    font-weight: 700;
  }

  &__text {
    color: $main-color;
  }
}

.hidden {
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
}