@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.create {
  @include size(100%, 100vh);
  min-height: calc(100vh + 1px);
  @include indents(0 $space-16 $space-16, 0);
  @include flex(column, flex-start, center);
  overflow-x: visible;

  &__header {
    @include indents(0 $space-16, 0);
    @include size(100%, 25vh);
    @include flex(column, flex-start, center);
    background-color: $secondary-color;
    position: sticky;
    top: 0;
    z-index: 4;
  }

  &__heading {
    @include indents();
    @include page-title();
    color: $main-color;
    background-color: inherit;
  }

  &__content {
    @include indents(16px 0, 0);
    @include size(100%, auto);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    overflow: visible;

    &.hidden {
      display: none;
    }
  }

  &__game-card {
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__bets {
    @include size(100%, 100%);
    @include flex(column, center, flex-start, $space-16);
  }

  &__buttons {
    @include indents(0, 0 0 $space-40 0);
    @include size(100%, auto);
    @include flex(row, space-between, center, $space-8);
  }

  &__label {
    @include indents($space-12 24px, 0);
    @include size(100%, auto);
    @include flex(row, space-between, center, $space-8);
    border: 1px $main-color solid;
    border-radius: $radius-12;
  }

  &__input {
    @include indents($space-8, 0);
    @include size(90px, 40px);
    border: none;
    border-radius: $radius-12;
    background: $main-color;
    text-align: center;
    font-weight: 700;
  }

  &__text {
    color: $main-color;
  }
}

.hidden {
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
}