@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.create {
  @include size(100%, 100%);
  min-height: calc(100vh + 1px);
  @include indents(0 16px 16px, 0);
  @include flex(column, flex-start, center);

  &__header {
    @include indents(0 16px, 0);
    @include size(100%, 25vh);
    @include flex(column, center, center);
    background-color: $secondary-color;

    // @media screen and (max-height: 690px) {
    //   @include size(100%, 30vh);
    // }
  }

  &__content {
    @include size(100%, 100%);
    @include flex(column, space-between, flex-end, 16px);
  }

  &__game-card {
    &:nth-child(odd) {
      align-self: flex-end;
    }

    &:nth-child(even) {
      align-self: flex-start;
    }
  }


  &__heading {
    @include indents();
    // @include size(70%, unset);
    @include page-title();
    text-align: center;
  }

  &__bets {
    @include size(100%, 100%);
    @include flex(column, center, flex-start, 16px);
  }

  &__buttons {
    @include indents(0, 0 0 40px 0);
    @include size(100%, auto);
    @include flex(row, space-between, center, 8px);
  }

  &__label {
    @include indents(12px 24px, 0);
    @include size(100%, auto);
    @include flex(row, space-between, center, 8px);
    border: 1px $main-color solid;
    border-radius: $radius-12;
  }

  &__input {
    @include indents(8px, 0);
    @include size(90px, 40px);
    border: none;
    border-radius: $radius-12;
    background: $main-color;
    text-align: center;
    font-weight: 700;
  }

  &__text {
    color: $main-color;
  }
}

.hidden {
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
}