@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.main {
  @include indents(0 16px, 0);
  @include flex(column, flex-start, center);
  @include size(100%, 100%);

  @media screen and (min-height: 691px) {
    padding-top: 8px;
  }

  &__header {
    // @include indents(0 16px, 0);
    @include size(100%, 20vh);
    @include flex(column, center, center);

    @media screen and (max-height: 690px) {
      @include size(100%, 30vh);
    }
  }

  &__logo {
    @include size(110px, 26px);
  }

  &__content {
    @include flex(column, flex-start, unset, 16px);
    @include size(100%, calc(70vh - 16px));

    @media screen and (min-height: 691px) {
      @include max-size(100%, 80vh);
    }
  }

  &__banner {
    @include max-size(100%, 90px);
  }

  &__centralButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    @include size(100%, auto);
  }

  &__smallButtonsContainer {
    @include size(100%, 190px);
    @include flex(column, space-between, space-between, 16px);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.hidden {
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 1s ease-in-out;
}
