@use 'Stylesheets/mixins' as *;
@use 'Stylesheets/variables' as *;

.overlay {
  @include flex(column, flex-start, center);
  @include position(fixed, $bottom: 0, $left: 50%);
  transform: translate(-50%);
  @include size(100%, 0);
  overflow: hidden;
  transition: height .5s ease;
  background-color: $dark-blue-color;
  border-top-left-radius: $radius-12;
  border-top-right-radius: $radius-12;
  z-index: 666;
  opacity: .9;

  &__children {
    @include indents(16px, 0);
    @include size(100%, 100%);
    @include flex(column, flex-start, center);
  }

  &__closeButton {
    @include button-style-reset();
    @include position(absolute, $right: -8px, $top: 4px);
    transform: translate(-50%);
    @include flex(row, center, center);
    @include size(25px, 25px);
    border-radius: 40px;
    background-color: $main-color;
  }

  &__emoji {
    @include size(84px, 84px);
    aspect-ratio: 1;
    cursor: pointer;
  }

  &__emojis {
    @include size(100%, auto);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: start;
    justify-items: center;
    overflow-y: auto;
  }

  &__name {
    @include indents(0, 10px 0);
    @include size(100%, auto);
    font-size: 20px;
    font-weight: 700;
    color: $main-color;
  }
}

.overlay.active {
  @include size(100%, calc(100% - 40vh));
  z-index: 666;
  overflow: visible;

  @media screen and (min-height: 691px) {
    @include size(100%, calc(100% - 55vh));
  }
}