@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.banner {
  @include big-link-layout();
  @include position(relative);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  box-sizing: border-box;
  transition: background-image .7s ease-in-out;


  @media screen and (min-height: 691px) {
    @include size(auto, 122px);
  }

  &__link {
    @include size(100%, 100%);
    @include position(absolute, $top: 0, $left: 0);
    cursor: pointer;
  }

  &__sliderButton {
    @include size(48px, 100%);
    @include button-style-reset();
    align-self: flex-end;
    cursor: pointer;
    z-index: 3;
  }

  &__leftButton {
    @include size(20px, 20px);
    @include position(absolute, $left: 8px, $top: 55%);
    @include flex(row, center, center);
    @include indents(8px, 0);
    transform: translateY(-50%);
    background-color: $black-color;
    border-radius: $radius-round;
  }

  &__rightButton {
    @include size(20px, 20px);
    @include position(absolute, $right: 8px, $top: 55%);
    @include flex(row, center, center);
    @include indents(8px, 0);
    transform: translateY(-50%);
    background-color: $black-color;
    border-radius: $radius-round;
  }

  &__text {
    @include indents(30px, 0);
    color: $main-color;
  }

  &__indicators {
    @include indents(4px 6px, 0);
    @include flex(row, $gap: 2px);
    @include position(absolute, $bottom: 8px, $left: 50%);
    transform: translate(-50%);
    background-color: $black-color;
    border-radius: 40px;
  }

  &__indicator {
    @include indents();
    @include size(6px, 6px);
    border: none;
    border-radius: 100%;
    background-color: $main-color;
    cursor: pointer;
  }

  &__info {
    @include size(auto, 80px);
    @include position(absolute, $left: 32px, $top: 20%);
    @include flex(column, space-between, flex-start, 40px);
    @include ellipsis();
  }

  &__picHeader {
    @include indents();
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: $black-color;
    text-align: left;
  }

  &__text {
    @include indents();
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: $black-color;
    text-align: left;
    font-size: 14px;
  }
}

.activeIndicator {
  background-color: $secondary-color;
}