@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.item {
  @include max-size(116px, 116px);
  @include size(100%, 100%);
  background: $tertiary-color;
  border-radius: $radius-10;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__avatarContainer {
    @include indents();
    @include position(relative);
    @include size(110px, 110px);
  }
}