@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.game {
  @include size(100%, 100vh);
  @include position(relative);
  @include flex(column, flex-start, center, 10px);
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  background-image: url('../../images/rock-paper-scissors/rps-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  &__result {
    @include size(100%, 100%);
    @include position(relative);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &__heading {
    color: $main-color;
  }

  &__players {
    position: relative;
    @include indents(0, 6px 0);
    @include size(100%, auto);
    @include flex(row, space-between, center);
  }

  &__player {
    @include size(178px, 178px);
    @include position(relative);
    @include flex(row, center, center);

    @media screen and (max-width: 379px) {
      @include size(146px, 146px);
    }
  }

  &__playerName {
    @include indents();
    @include size(152px, auto);
    @include ellipsis();
    @include position(absolute, $left: 50%, $top: 0);
    transform: translateX(-50%);
    color: $main-color;
    font-size: 16px;
    color: $rps-text-color;
    z-index: 7;

    @media screen and (max-width: 379px) {
      font-size: 14px;
    }
  }

  &__avatarWrapper {
    @include size(100%, 100%);
    @include position(absolute, $left: 50%, $top: 60%);
    transform: translate(-50%, -50%);
  }

  &__balance {
    @include indents(4px 4px, 0);
    @include size(50%, unset);
    @include flex(row, center, center);
    flex-wrap: nowrap;
    @include position(absolute, $bottom: -20%, $left: 50%);
    transform: translate(-50%);
    color: $rps-text-color;
    background-color: $rps-background-color;
    border-radius: $radius-40;
    font-size: 14px;
    z-index: 5;
  }

  &__icon {
    @include size(42px, 52px);
  }

  &__iconEmoji {
    @include size(48px, 48px);
  }

  &__lowerContainer {
    @include size(100%, auto);
    @include position(absolute, $bottom: 10%, $left: 50%);
    @include flex(column, center, center, 10px);
    transform: translate(-50%);
  }

  &__buttonsWrapper {
    @include size(100%, auto);
    @include flex(row, center, center);
  }

  &__text {
    @include indents();
    color: $main-color;
    font-size: 16px;

    @media screen and (min-height: 691px) {
      font-weight: 900;
      color: $main-color;
      font-size: 19px;
    }
  }

  &__betContainer {
    @include flex(column, center, center, 10px);
  }

  &__bet {
    @include size(auto, auto);
    @include indents(6px 16px, 0);
    @include flex(row, center, center, 10px);
    background-color: $rps-background-color;
    color: $main-color;
    border-radius: $radius-40;
    opacity: .5;

    @media screen and (min-height: 691px) {
      @include size(100px, 48px);
    }
  }

  &__iconEmoji {
    @include size(48px, 48px);
  }

  &__iconEmoji:focus,
  &__iconEmoji:active,
  &__iconEmoji:hover {
    outline: none;
    box-shadow: none;
    background-color: transparent; 
  }

  &__button {
    @include button-style-reset();
    cursor: pointer;
  }

  &__emojiButton {
    @include position(absolute, $bottom: 8%, $right: 16px);

    @media screen and (max-width: 379px) {
      bottom: 5%;
      right: 10px;
    }
  }

  &__versusImage {
    @include size(160px, auto);
    @include position(absolute, $top: 150px, $left: 50%);
    transform: translateX(-50%);
  }

  &__notify {
    @include position(absolute, $top: 50%, $left: 50%);
    @include indents();
    @include size(100%, auto);
    color: $main-color;
    transform: translate(-50%, -50%);
  }

  &__timer {
    @include position(absolute, $top: 50%, $left: 50%);
    @include indents();
    @include size(100%, auto);
    color: $main-color;
    transform: translate(-50%, -50%);
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
  }

  &__checkbox {
    display: none;
  }

  &__label {
    background-image: url('../../images/rock-paper-scissors/ready_image.png');
    @include size(180px, 68px);
    @include position(relative);
    @include flex(row, center, center, 6px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: $radius-20;

    @media screen and (min-height: 691px) {
      @include size(216px, 84px);
    }
  }

  &__label:focus,
  &__label:active,
  &__label:hover {
    outline: none;
    box-shadow: none;
    background-color: transparent; 
    -webkit-tap-highlight-color: transparent;
  }

  &__readyIcon {
    @include size(60px, 60px);
    @include position(absolute, $left: 50%, $bottom: -15%);
    transform: translateX(-50%);
    z-index: 2;

    @media screen and (max-width: 379px) {
      @include size(44px, 44px);
    }
  }

  &__selectedEmoji {
    @include size(60px, 60px);
    @include position(absolute, $bottom: -20%, $left: 0);
    z-index: 6;

    @media screen and (max-width: 379px) {
      @include size(48px, 48px);
    }
  }

  &__selectedEmojiRight {
    @include size(60px, 60px);
    @include position(absolute, $bottom: -20%, $right: 0);
    z-index: 6;

    @media screen and (max-width: 379px) {
      @include size(48px, 48px);
    }
  }

  &__resultMessage {
    @extend .game__notify;
    @include position(absolute, $top: 40%, $left: 50%);
  }
}

.rules {
  @include size(100vw, 100vh);
  @include flex(row, center, center);

  &__image {
    @include size(100vw, object-fit);
    position: relative;
  }

  &__button {
    @include size(100%, 42px);
    @include max-size(312px, auto);
    @include position(absolute, $bottom: 16px, $left: 50%);
    transform: translateX(-50%);
  }
}