@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.game {
  @include size(100%, 100vh);
  @include position(relative);
  @include flex(column, flex-start, center, $space-10);
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  background-image: url('../../images/rock-paper-scissors/rps-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  &__result {
    @include size(100%, 100%);
    @include position(relative);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &__heading {
    color: $main-color;
  }

  &__icon {
    @include size(42px, 52px);
  }

  &__iconEmoji {
    @include size(48px, 48px);
    animation: shake 3s ease-in-out infinite;
  }

  &__lowerContainer {
    @include size(100%, auto);
    @include position(absolute, $bottom: 10%, $left: 50%);
    @include flex(column, center, center, $space-10);
    transform: translate(-50%);
  }

  &__buttonsWrapper {
    @include size(100%, auto);
    @include flex(row, center, center);
  }

  &__text {
    @include indents();
    color: $main-color;
    font-size: $space-16;

    @media screen and (min-height: 691px) {
      font-weight: 900;
      color: $main-color;
      font-size: 19px;
    }
  }

  &__betContainer {
    @include flex(column, center, center, $space-10);
  }

  &__bet {
    @include size(auto, auto);
    @include indents($space-6 $space-16, 0);
    @include flex(row, center, center, $space-10);
    background-color: $rps-background-color;
    color: $main-color;
    border-radius: $radius-40;
    opacity: .5;

    @media screen and (min-height: 691px) {
      @include size(100px, 48px);
    }
  }

  &__button {
    @include button-style-reset();
    border-radius: $radius-40;
    cursor: pointer;
  }

  &__button:focus,
  &__button:active,
  &__button:hover {
    outline: none;
    box-shadow: none;
    background-color: transparent; 
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }

  &__emojiButton {
    @include position(absolute, $bottom: 8%, $right: $space-16);

    @media screen and (max-width: 379px) {
      bottom: 5%;
      right: $space-10;
    }
  }

  &__versusImage {
    @include size(160px, auto);
    @include position(absolute, $top: 150px, $left: 50%);
    transform: translateX(-50%);
  }

  &__notify {
    @include position(absolute, $top: 50%, $left: 50%);
    @include indents();
    @include size(100%, auto);
    color: $main-color;
    transform: translate(-50%, -50%);
  }

  &__timer {
    @include position(absolute, $top: 50%, $left: 50%);
    @include indents();
    @include size(100%, auto);
    color: $main-color;
    transform: translate(-50%, -50%);
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
  }

  &__checkbox {
    display: none;
  }

  &__readyWrapper {
    border-radius: $space-40;
  }

  &__readyWrapper:focus,
  &__readyWrapper:active,
  &__readyWrapper:hover {
    outline: none;
    box-shadow: none;
    background-color: transparent; 
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }

  &__label {
    background-image: url('../../images/rock-paper-scissors/ready_image.png');
    @include size(180px, 68px);
    @include position(relative);
    @include flex(row, center, center, $space-6);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse 2.5s ease-in-out infinite;

    @media screen and (min-height: 691px) {
      @include size(216px, 84px);
    }
  }

  &__resultMessage {
    @extend .game__notify;
    @include position(absolute, $top: 40%, $left: 50%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  94% {
    transform: rotate(0deg);
  }
  96% {
    transform: rotate(-7deg);
  }
  98% {
    transform: rotate(7deg);
  }
}