@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.shopLink {
  @include big-link-layout();
  text-decoration: none;
  overflow: hidden;
  background: url('../../../images/Shop_small_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-height: 768px) and (max-height: 1024px) {
    @include size(100%, 164px);
  }

  &__content {
    @include flex(column, space-between, flex-start);
    @include size(100%, 100%);
  }

  &__title {
    @include indents();
    color: $main-color;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    line-height: 1;
  }

  &__text {
    @include indents();
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: $main-color;
  }

  &__logo {
    @include size(100px, 24px);
  }

  &__char {
    @include size(140%, auto);
    @include position(absolute, $left: 50%, $top: 55%);
    transform: translate(-50%, -50%);
  }
}