@use 'Stylesheets/mixins' as *;
@use 'Stylesheets/variables' as *;

.shopLink {
  @include big-link-layout();
  text-decoration: none;
  overflow: hidden;
  background: url('../../../images/Shop_small_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  border-radius: $radius-20;

  &__content {
    @include flex(column, space-between, flex-start);
    @include size(100%, 100%);
  }

  &__title {
    @include indents();
    color: $main-color;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    line-height: 1;
    z-index: 2;
  }

  &__logo {
    @include size(100px, 24px);
  }

  &__char {
    @include position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
    @include size(100%, 100%);
    object-fit: cover;
    z-index: 1;
  }
}