@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.banner {
  @include children-layout();

  &__bannerWrapper {
    @include size(100%, 90px);
    @include flex(column, center, center, 10px);
    border-radius: $radius-12;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }

  &__title {
    @include indents(16px 16px 0, 0);
    font-weight: 700;
    color: $main-color;
    font-size: 16px;
    text-align: center;
  }

  &__text {
    @include size(calc(100% - 32px), unset);
    @include indents();
    font-weight: 200;
    font-size: 14px;
    color: $main-color;
    text-align: center;
  }

  &__button {
    @include indents(0 16px, 0);
    @include size(100%, 40px);
    @include position(absolute, $left: 50%, $bottom: 80px);
    transform: translate(-50%);
  }
}