@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.banner {
  @include children-layout();
  justify-content: flex-start;

  &__bannerWrapper {
    @include size(100%, 120px);
    @include flex(column, center, center, 10px);
    border-radius: $radius-12;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    @media screen and (max-height: 680px) {
      @include size(100%, 90px);
    }
  }

  &__header {
    @include flex(column, center, center, 16px);
  }

  &__title {
    @include indents(16px 16px 0, 0);
    font-weight: 700;
    color: $main-color;
    font-size: 16px;
    text-align: center;
  }

  &__content {
    @include size(100%, auto);
    @include flex(column, center, center, 16px);
  }

  &__text {
    @include size(calc(100% - 32px), unset);
    @include indents();
    font-weight: 200;
    font-size: 14px;
    color: $main-color;
    text-align: center;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  &__button {
    @include indents(0 16px, 0);
    @include size(100%, 40px);
    // @include position(absolute, $left: 50%, $bottom: 80px);
    // transform: translate(-50%);
  }
}