@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.leader {
  @include size(100%, 60px);
  @include indents(0 16px, 0);
  @include flex(row, space-between, center);

  &__container {
    @include flex(row, flex-start, center, 16px);
  }

  &__avatarWrapper {
    @include indents();
    @include position(relative);
    @include size(60px, 60px);
    @include flex(row, center, center);
  }

  &__avatarBackground {
    @include position(absolute, $top: 0, $left: 0);
    @include size(100%, 100%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &__avatar {
    @include size(100%, 100%);
    @include position(absolute, $top: 0, $left: 0);
    // border-radius: $radius-round;
    z-index: 1;
    mask-composite: exclude;
    mask-size: cover;
  }

  &__text {
    @include indents();
    @include size(90px, unset);
    text-align: left;
    color: $main-color;
    font-weight: 900;
    font-size: 14px;
    font-style: italic;
  }

  &__number {
    @include indents();
    color: $main-color;
    font-weight: 900;
    font-size: 28px;
    font-style: italic;
  }

  &__gainWrapper {
    @include flex(row, flex-start, center, 16px);
  }
}

.darkBackground {
  background-color: $tetriary-color;
}