@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.choiceBox {
  @include size(200px, 68px);
  @include position(relative);
  @include flex(row, center, center, 4px);
  background-image: url('../../../images/rock-paper-scissors/choise-plate.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;

  @media screen and (min-height: 690px) {
    @include size(264px, 84px);
    @include flex(row, center, center, 10px);
  }

  &__icon {
    @include size(42px, 52px);
    // transform: translateZ(0);
    // backface-visibility: hidden;
    // -webkit-backface-visibility: hidden;

    @media screen and (min-height: 690px) {
      @include size(48px, 62px);
    }
  }

  &__button {
    @include button-style-reset();
    cursor: pointer;
    // transform: translateZ(0);
    // backface-visibility: hidden;
    // -webkit-backface-visibility: hidden;

    // &:nth-child(1) {
    //   animation: buttonPulse 9s infinite;
    // }

    // &:nth-child(2) {
    //   animation: buttonPulse 9s infinite;
    //   animation-delay: 3s;
    // }

    // &:nth-child(3) {
    //   animation: buttonPulse 9s infinite;
    //   animation-delay: 6s;
    // }

    &:disabled {
      animation: none;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  &__button:focus,
  &__button:active,
  &__button:hover {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }
}

// @keyframes buttonPulse {
//   0%, 30%, 100% {
//     transform: translateZ(0) scale(1);
//   }
//   15% {
//     transform: translateZ(0) scale(1.1);
//   }
// }