@use 'Stylesheets/mixins' as *;
@use 'Stylesheets/variables' as *;

.choiceBox {
  @include size(200px, 68px);
  @include position(relative);
  @include flex(row, center, center, 4px);
  background-image: url('../../../Images/rock-paper-scissors/choise-plate.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;

  @media screen and (min-height: 690px) {
    @include size(264px, 84px);
    @include flex(row, center, center, 10px);
  }

  &__icon {
    @include size(42px, 52px);

    @media screen and (min-height: 690px) {
      @include size(48px, 62px);
    }
  }

  &__button {
    @include button-style-reset();
  }
}