@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.players {
  position: relative;
  @include indents(0, 6px 0);
  @include size(100%, auto);
  @include flex(row, space-between, center);

  &__player {
    @include size(178px, 178px);
    @include position(relative);
    @include flex(row, center, center);
  
    @media screen and (max-width: 379px) {
      @include size(146px, 146px);
    }
  }

  &__playerName {
    @include indents();
    @include size(152px, auto);
    @include ellipsis();
    @include position(absolute, $left: 50%, $top: 0);
    transform: translateX(-50%);
    color: $main-color;
    font-size: 16px;
    color: $rps-text-color;
    z-index: 7;

    @media screen and (max-width: 379px) {
      font-size: 14px;
    }
  }

  &__avatarWrapper {
    @include size(100%, 100%);
    @include position(absolute, $left: 50%, $top: 60%);
    transform: translate(-50%, -50%);
  }

  &__balance {
    @include indents(4px 4px, 0);
    @include size(50%, unset);
    @include flex(row, center, center);
    flex-wrap: nowrap;
    @include position(absolute, $bottom: -20%, $left: 50%);
    transform: translate(-50%);
    color: $rps-text-color;
    background-color: $rps-background-color;
    border-radius: $radius-40;
    font-size: 14px;
    z-index: 5;
  }

  &__selectedEmoji {
    @include size(60px, 60px);
    @include position(absolute, $bottom: -20%, $left: 0);
    z-index: 6;

    @media screen and (max-width: 379px) {
      @include size(48px, 48px);
    }
  }

  &__selectedEmojiRight {
    @include size(60px, 60px);
    @include position(absolute, $bottom: -20%, $right: 0);
    z-index: 6;

    @media screen and (max-width: 379px) {
      @include size(48px, 48px);
    }
  }

  &__readyIcon {
    @include size(60px, 60px);
    @include position(absolute, $left: 50%, $bottom: -15%);
    transform: translateX(-50%);
    z-index: 2;

    @media screen and (max-width: 379px) {
      @include size(44px, 44px);
    }
  }
}
