@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.userInfo {
  @include position(relative);
  @include indents(0, 0 0 16px 0);
  @include size(100%, unset);
  @include flex(row, space-between, center, 10px);

  &__content {
    @include size(auto, 70px);
    @include flex(row, flex-start, center);
    flex: 1;
  }

  &__textElements {
    @include flex(column, center, flex-start, 4px);
  }

  &__avatarContainer {
    @include indents();
    @include position(relative);
    @include size(100px, 100px);
  }

  // &__avatarBackground {
  //   @include position(absolute, $top: 0, $left: -10%);
  //   @include size(100%, 100%);
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   z-index: 2;
  // }

  // &__userAvatar {
  //   @include size(100%, 100%);
  //   @include position(absolute, $top: 0, $left: -10%);
  //   z-index: 1;
  //   mask-composite: exclude;
  //   mask-size: cover;
  // }

  &__text {
    @include indents();
    color: $main-color;
    font-weight: 600;
  }

  &__balanceLink {
    @include size(30px, 56px);
    @include flex(row, center, center);
    border-radius: $radius-40;
    background-color: $main-color;
    margin-left: 6px;
  }

  &__linkContainer {
    @include position(relative);
    @include flex(column, flex-start, center, 4px);
  }

  &__link {
    @include indents(6px 10px, 0);
    @include min-size(120px, 56px);
    @include flex(column, center, center);
    background-color: $main-color;
    border-radius: $radius-15;
  }

  &__tgLink {
    text-decoration: none;
    color: $black-color;
    font-size: 14px;
  }

  &__smallText {
    @include indents();
    @include size(100%, unset);
    @include position(absolute, $bottom: -18px, $left: 50%);
    transform: translate(-50%);
    color: $main-color;
    font-size: 10px;
  }
}