@use 'Stylesheets/mixins' as *;
@use 'Stylesheets/variables' as *;

* {
  box-sizing: border-box;
}

.app {
  @include indents();
  @include size(100%, 100%);
  overflow-y: auto;
  text-align: center;
  background-color: $secondary-color;
}