@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

* {
  box-sizing: border-box;
}

.app {
  @include indents();
  @include size(100%, var(--tg-viewport-stable-height));
  text-align: center;
  background-color: $secondary-color;
}