@use 'Stylesheets/mixins' as *;
@use 'Stylesheets/variables' as *;

.players {
  @include position(relative);
  @include size(100%, calc(100% - 25vh));

  @media screen and (min-height: 691px) {
    @include position(relative);
    @include size(100%, calc(100% - 20vh));
    margin-top: 20px;
  }

  &__player {
    @include size(55px, 55px);
    @include flex(row, center, center);

    @media screen and (min-height: 691px) {
      @include size(70px, 70px);
    }
  }

  &__name {
    @include ellipsis();
    @include indents(1px 2px, 0);
    @include size(100%, auto);
    @include position(absolute, $bottom: 0, $left: 50%);
    transform: translate(-50%);
    color: $black-color;
    background-color: $main-color;
    border-radius: $radius-10;
    z-index: 5;
    font-weight: 900;
    font-size: 10px;
  }

  &__player:nth-child(1),
  &__player:nth-child(2) {
    @include position(absolute, $top: 2%, $left: 35%);
    transform: translateX(-50%);
  }

  &__player:nth-child(2) {
    left: 65%;
    transform: translateX(-50%);
  }

  &__player:nth-child(3),
  &__player:nth-child(4) {
    @include position(absolute, $top: 20%);
    transform: translateX(-50%);
  }

  &__player:nth-child(3) {
    left: 25%;
  }

  &__player:nth-child(4) {
    left: 75%;
  }

  &__player:nth-child(5),
  &__player:nth-child(6) {
    @include position(absolute, $bottom: 20%);
    transform: translateX(-50%);
  }

  &__player:nth-child(5) {
    left: 25%;
  }

  &__player:nth-child(6) {
    left: 75%;
  }

  &__player:nth-child(7) {
    @include position(absolute, $bottom: 5%);
    transform: translateX(-50%);
    left: 50%;
  }

  &__emoji {
    @include indents();
    @include size(50px, 36px);
    @include flex(row, center, center);
    @include position(absolute, $top: 0, $left: -50%);
    background-color: $main-color;
    border-radius: $radius-10;
    z-index: 5;

    @media screen and (max-width: 700px) {
      @include size(38px, 26px);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      right: 10%;
      transform: translateX(-50%);
      border-width: 12px 6px 0;
      border-style: solid;
      border-color: $main-color transparent;
      display: block;
      transform: rotate(-30deg);
      width: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $radius-10;
      // box-shadow: 0 0 0 1px black;
      pointer-events: none;
    }
  }

  &__choice {
    @include indents();
    @include size(40px, 40px);
    @include flex(row, center, center);
    @include position(absolute, $top: 0, $right: -30%);
    background-color: $main-color;
    border-radius: $radius-round;
    z-index: 5;

    @media screen and (max-width: 700px) {
      @include size(30px, 30px);
    }
  }

  &__emojiImage {
    @include size(26px, 26px);

    @media screen and (max-width: 700px) {
      @include size(20px, 20px);
    }
  }
}