@use 'Stylesheets/mixins' as *;
@use 'Stylesheets/variables' as *;

.button {
  @include size(100%, 100%);
  @include button-style-reset();
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  color: $black-color;
  font-family: 'Rubik', sans-serif;
}