@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.button {
  @include size(100%, 100%);
  @include button-style-reset();
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black-color;
}