@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.tasks {
  @include children-layout();
  gap: 10px;
  justify-content: flex-start;
  z-index: 3;

  &__title {
    @include indents();
    font-weight: 900;
    color: $main-color;
    font-size: 28px;
    text-align: center;
    font-style: italic;
  }

  &__blackContainer {
    @include indents(16px 6px, 0);
    @include size(100%, auto);
    @include flex(columns, center, center);
    background-color: $black-color;
  }

  &__text {
    @include size(100%, auto);
    @include indents();
    @include flex(row, center, center, 10px);
    font-weight: 700;
    font-size: 16px;
    color: $main-color;
    line-height: 1.2;

    @media screen and (max-width: 379px) {
      font-size: 14px;
    }
  }

  &__board {
    @include indents(6px 16px 0, 0);
    @include flex(column, flex-start, center, 10px);
    @include size(100%, 70%);
    overflow: scroll;
    z-index: 3;
  }

  &__closeBtn {
    @include button-style-reset();
    @include position(absolute, $right: -8px, $top: 4px);
    transform: translate(-50%);
    @include flex(row, center, center);
    @include size(25px, 25px);
    border-radius: 40px;
    background-color: $black-color;
    z-index: 2;
  }
}