@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

@mixin buttonStyle {
  @include button-style-reset();
  @include size(106px, 24px);
  border-radius: 40px;
  color: $main-color;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box
}

.shop {
  @include indents(0 16px 10px, 0);
  @include size(100%, 100%);
  @include flex(column, center, center, 16px);

  &__header {
    @include size(100%, 20vh);
    @include flex(column, space-around, center);

    @media screen and (max-height: 690px) {
      @include flex(column, flex-start, center);
      @include size(100%, 30vh);
    }
  }

  &__content {
    @include flex(column, center, center, 16px);
    @include size(100%, 100%);
    z-index: 3;
  }

  &__title {
    @include indents(0, 0);
    color: $main-color;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    line-height: 1;

    @media screen and (max-height: 690px) {
      margin-bottom: 10px;
    }
  }

  &__buttons {
    @include size(100%, auto);
    @include flex(row, space-between, flex-end);
  }

  &__goods {
    @include indents();
    @include size(100%, auto);
    @include max-size(100%, calc(var(--tg-viewport-height) - 30vh));
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    align-content: start;
    overflow-y: auto;
  }

  &__leftButtonsContainer {
    @include flex(column, center, flex-start, 8px);
  }

  &__button {
    @include buttonStyle();
    background-color: $black-color;
    
    &.activeButton {
      background-color: $mustard-color;
      color: $black-color;
    }
  }

  &__buttonWhite {
    @include buttonStyle();
    background-color: $main-color;
    color: $black-color;
  }
}

.hidden {
  @include size(100%, 0);
  overflow: hidden;
  transition: height 1s ease;
}