@use "../../stylesheets/mixins" as *;
@use "../../stylesheets/variables" as *;

.game {
  @include size(100%, 100vh);
  @include position(relative);
  font-family: "Rubik", sans-serif;

  &::before {
    content: "";
    @include position(fixed, $top: 0, $left: 0, $right: 0, $bottom: 0);
    z-index: 1;
    background: linear-gradient(
      to bottom,
      #4caf50 0%,
      #4caf50 35%,
      #2e5e32 45%,
      #000000 60%,
      #000000 100%
    );
  }

  &__roomCounter {
    @include position(fixed, $top: 16px, $left: 16px);
  }

  &__content {
    @include flex(column, space-between, center);
    @include position(relative);
    @include size(100%, 100%);
    z-index: 2;
    @include indents(32px 16px, 0);
  }

  p {
    @include indents();
    font-weight: 900;
  }

  &__mainContainer {
    @include indents();
    @include size(100%, 100%);
    @include flex(column, flex-end, center, 32px);
  }

  &__avatarContainer {
    @include size(112px, 112px);
  }

  &__userContainer {
    @include size(100%, auto);
    @include flex(row, flex-start, center);
    background: linear-gradient(
      to bottom,
      #fff9b0 0%,
      #ffffff 100%
    );
    border-radius: $radius-15;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__betContainer, &__info {
    background-color: #323232;
    border-radius: $radius-15;
    @include indents(12px, 0);
  }

  &__userNameContainer {
    @include size(auto, auto);
    @include flex(column, center, flex-start, 4px);
  }

  &__betContainer {
    @include size(100%, auto);
    @include flex(column, center, center, 12px);
  }

  &__infoContainer {
    @include size(100%, auto);
    @include flex(column, center, center, 18px);
  }

  &__infoInnerContainer {
    @include size(100%, auto);
    @include flex(row, space-between, center, 18px);
  }
  &__info {
    @include size(100%, 100%);
    @include flex(column, center, center);
  }

  &__text {
    font-size: 14px;
    color: #626262;
  }

  &__bet, &__money {
    color: $closest-color;
    text-align: center;
  }

  &__money {
    @include flex(row, center, center, 4px);
    font-size: 18px;
  }

  &__moneyBetIcon {
    @include size(30px, 30px);
  }

  &__moneyIcon {
    @include size(16px, 16px);
  }

  &__bet {
    @include flex(row, center, center, 4px);
    font-size: 32px;
  }

  &__buttonsContainer {
    @include size(100%, auto);
    @include min-size(100%, 84px);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 12px;
  }

  &__actionButton, &__logButton {
    @include button-style-reset();
  }
  &__actionButton {
    @include size(100%, 100%);
    background: linear-gradient(to bottom, #FFDA0A 0%, #FF9B00 100%);
    border-radius: $radius-15;
  }

  &__logButton {
    @include size(100%, 100%);
    background-color: #058D32;
    border-radius: $radius-15;
    aspect-ratio: 1;
  }

  &__actionButtonText {
    font-size: 18px;
    text-transform: uppercase;
  }
}
