@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.choiceBox {
  @include size(200px, 68px);
  @include position(relative);
  @include flex(row, center, center, 6px);
  background-image: url('../../../images/rock-paper-scissors/choise-plate.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__icon {
    @include size(42px, 52px);
  }

  // &__iconEmoji {
  //   @include size(48px, 48px);
  // }

  &__button {
    @include button-style-reset();
  }

  // &__emojiButton {
  //   @include position(absolute, $bottom: 50%, $right: -64px);
  //   transform: translateY(50%);
  // }
}