@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.monetka {
  @include size(100%, 100%);
  @include min-size(100%, 100vh+1);
  @include flex(column, center, center);
  @include indents(0 $space-16, 0);
  position: relative;
  overflow: hidden;

  &__layer {
    @include position(absolute, $top: 0, $left: 0);
    @include size(100%, 100%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    &_empty {
      z-index: 1;
      background-image: url('../../images/monetka/screen_empty.png');
    }

    &_fx {
      z-index: 2;
      background-image: url('../../images/monetka/screen_fx.png');
    }

    &_bg {
      z-index: 5;
      background-image: url('../../images/monetka/coin_bg.png');
    }
  }

  &__buttonsContainer {
    @include size(100%, auto);
    @include min-size(100%, 48px);
    @include position(absolute, $bottom: 19%, $left: 50%);
    @include flex(column, center, center);
    transform: translateX(-50%);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-touch-callout: none;
    z-index: 99;
  }

  &__buttons {
    @include size(90%, 110%);
    @include indents(0 36px, 0);
  }

  &__buttonsWrapper {
    @include position(absolute, $top: 0, $left: 50%);
    @include size(70%, 70%);
    @include flex(row, center, center, $space-8);
    transform: translateX(-50%);
  }

  &__button {
    @include size(45%, auto);
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.5s ease;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-touch-callout: none;

    &:active {
      transform: scale(0.95);
    }
  }

  &__vector {
    @include size(40%, auto);
    @include position(absolute, $top: 50%, $left: 50%);
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    z-index: 1;
  }

  &__defaultCoinContainer {
    @include position(absolute, $top: 34%, $left: 50%);
    @include size(100%, 32px);
    transform: translate(-50%, -50%);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__defaultCoin {
    @include max-size(32px, 32px);
    @include size(100%, auto);
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  &__controlButtons {
    @include position(absolute, $bottom: 10%, $left: 50%);
    @include size(50%, auto);
    @include flex(row, center, center, $space-8);
    transform: translateX(-50%);
    z-index: 99;
  }

  &__controlButton {
    @include indents(0 $space-16, 0);
    @include size(45%, 36px);
    @include flex(row, center, center);
    border-radius: $radius-10;
    border: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: white;
    overflow: hidden;
    text-overflow: wrap;

    &:active {
      transform: scale(0.95);
    }

    &_pink {
      background-color: #8c2555;
      box-shadow: 0 1px 0 darken(#8c2555, 10%);
    }

    &_gray {
      background-color: #606060;
      box-shadow: 0 1px 0 darken(#606060, 10%);
    }
  }

  &__flash {
    @include position(absolute, $top: 0, $left: 0);
    @include size(100%, 100%);
    z-index: 2;
    // animation: flashAppear 1.5s ease-in-out forwards;
  }

  &__coin {
    @include position(absolute, $top: 50%, $left: 50%);
    @include size(40%, auto);
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    z-index: 10;
    animation: coinAppear .5s ease-in forwards;
    opacity: 0;

    &[src] {
      opacity: 1;
    }
  }

  &__coinValue {
    @include position(absolute, $top: 65%, $left: 50%);
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: 700;
    z-index: 10;
    animation: coinAppear .5s ease-in forwards;
  }
}

@keyframes coinAppear {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

// @keyframes flashAppear {
//   0% {
//     opacity: 0;
//     transform: scale(0.8) translate(-50%, -50%);
//   }
//   20% {
//     opacity: 1;
//     transform: scale(1) translate(-50%, -50%);
//   }
//   80% {
//     opacity: 1;
//     transform: scale(1) translate(-50%, -50%);
//   }
//   100% {
//     opacity: 0;
//     transform: scale(1.2) translate(-50%, -50%);
//   }
// }