@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.modal { 
  @include indents(16px);
  @include position(fixed, $top: 50%, $left: 50%);
  transform: translate(-50%, -50%);
  border-radius: $radius-15;
  background-color: $main-color;
  z-index: 667;
}

.close {
  @include position(absolute, $top: 16px, $right: 16px);
  cursor: pointer;
}