@use './variables' as *;

/* Миксины для всего проекта */

/* Flex-блок */
@mixin flex($direction: row, $justify-content: false, $align-items: false, $gap: false){
  display: flex;
  flex-direction: $direction;
  @if $justify-content {
    justify-content: $justify-content;
  }
  @if $align-items {
    align-items: $align-items
  }
  @if $gap {
    gap: $gap;
  }
};

/* Отступы */
@mixin indents($padding: 0, $margin: 0) {
  padding: $padding;
  margin: $margin;
};

/* Размеры элемента' */
@mixin size($width, $height){
  width: $width;
  height: $height;
};

@mixin max-size($max-width, $max-height) {
  max-width: $max-width;
  max-height: $max-height;
}

@mixin min-size($min-width, $min-height) {
  min-width: $min-width;
  min-height: $min-height;
}

/* Позиционирование элемента */
@mixin position($position, $top: false, $right: false, $bottom: false, $left: false) {
  position: $position;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}

/* Свойства шрифта и строки */
// @mixin font($font-family, $font-size: inherit, $font-weight: inherit, $color: inherit){
//   font-family: $font-family, sans-serif;
//   font-size: $font-size;
//   font-weight: $font-weight;
//   color: $color;
// };

/* Обрезание текста - эллипсис */
@mixin ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Сброс стиля кнопок и единый курсор */
@mixin button-style-reset {
  border: none;
  padding: 0;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

/* Сброс стиля инпута */
@mixin input-style-reset {
  border: none;
  padding: 0;
  background: transparent;
}

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Миксин для дочернего компонента overlay */
@mixin children-layout {
  @include indents();
  @include flex(column, flex-start, center, 16px);
  @include size(100%, 100%);
  background-color: $tertiary-color;
  border-top-left-radius: $radius-15;
  border-top-right-radius: $radius-15;
}
/* миксин для стилизации больших кнопок */
@mixin big-link-layout {
  @include position(relative);
  @include indents(16px, 0);
  @include min-size(100%, 90px);
  @include max-size(100%, 140px);
  @include size(100%, 100%);
  @include flex(row, space-between, center);
  border-radius: $radius-12;
}