// colors
$main-color: #FFF;
$secondary-color: #d51845;
$black-color: #000;
$mustard-color: #ffdb50;
$tertiary-color: #ac1a44;
$dark-blue-color: #0D2759;
$closest-color: #FEC42C;
$closest-secondary-color:#FF9900;
$rps-background-color: #140957;
$rps-text-color: #ADC9FF;

// spacing
$space-4: 4px;
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-32: 32px;
$space-40: 40px;
$space-50: 50px;
$space-100: 100px;

// borders-radius
$radius-8: 8px;
$radius-10: 10px;
$radius-round: 50%;
$radius-40: 40px;
$radius-12: 12px;
$radius-15: 15px;
$radius-20: 20px;