// colors
$main-color: #FFF;
$secondary-color: #d51845;
$black-color: #000;
$mustard-color: #ffdb50;
$tetriary-color: #ac1a44;
// borders-radius
$radius-15: 15px;
$radius-10: 10px;
$radius-round: 50%;
$radius-40: 40px;
$radius-12: 12px;