// colors
$main-color: #FFF;
$secondary-color: #d51845;
$black-color: #000;
$mustard-color: #ffdb50;
$tertiary-color: #ac1a44;
$dark-blue-color: #0D2759;
$closest-color: #FEC42C;
$closest-secondary-color:#FF9900;
$rps-background-color: #140957;
$rps-text-color: #ADC9FF;
// borders-radius
$radius-10: 10px;
$radius-round: 50%;
$radius-40: 40px;
$radius-12: 12px;
$radius-15: 15px;