@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.players {
  @include position(relative);
  @include size(100%, calc(100% - 25vh));

  @media screen and (min-height: 691px) {
    @include position(relative);
    @include size(100%, calc(100% - 20vh));
    margin-top: 20px;
  }

  &__player {
    @include size(90px, 90px);
    @include flex(row, center, center);
  }

  &__name {
    @include ellipsis();
    @include indents(2px 4px, 0);
    @include size(100%, auto);
    @include position(absolute, $bottom: 0, $left: 50%);
    transform: translate(-50%);
    color: $black-color;
    background-color: $main-color;
    border-radius: $radius-10;
    z-index: 5;
    font-weight: 900;
    font-size: 12px;
  }

  &__player:nth-child(1) {
    @include position(absolute, $top: 5%, $left: 15%);
    transform: translateX(-50%);
  }

  &__player:nth-child(2) {
    @include position(absolute, $top: 5%, $right: -10%);
    transform: translateX(-50%);
  }

  &__player:nth-child(3) {
    @include position(absolute, $bottom: 10%, $left: 50%);
    transform: translateX(-50%);
  }

  &__emoji {
    @include indents();
    @include size(50px, 36px);
    @include flex(row, center, center);
    @include position(absolute, $top: 0, $left: -25%);
    background-color: $main-color;
    border-radius: $radius-10;
    z-index: 5;

    @media screen and (max-width: 700px) {
      @include size(38px, 26px);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      right: 10%;
      transform: translateX(-50%);
      border-width: 12px 6px 0;
      border-style: solid;
      border-color: $main-color transparent;
      display: block;
      transform: rotate(-30deg);
      width: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $radius-10;
      // box-shadow: 0 0 0 1px black;
      pointer-events: none;
    }
  }

  &__choice {
    @include indents();
    @include size(40px, 40px);
    @include flex(row, center, center);
    @include position(absolute, $top: 0, $right: -20%);
    background-color: $main-color;
    border-radius: $radius-round;
    z-index: 5;

    @media screen and (max-width: 700px) {
      @include size(30px, 30px);
    }
  }

  &__emojiImage {
    @include size(26px, 26px);

    @media screen and (max-width: 700px) {
      @include size(20px, 20px);
    }
  }
}