@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.icon {
  @include position(relative);
  @include flex(column, center, center);

  &__text {
    @include indents();
    @include position(absolute, $left: 50%, $top: 45%);
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: $secondary-color;
    z-index: 5;
  }
}