@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.footer {
  @include indents(16px 24px, 0);
  @include position(fixed, $bottom: 0, $left: 0);
  @include size(100%, auto);
  @include min-size(100%, 136px);
  @include flex(column, flex-start, center, 16px);
  background-color: $black-color;
  border-top-right-radius: $radius-12;
  border-top-left-radius: $radius-12;

  &__buttonWrapper {
    @include size(100%, 42px);
  }

  &__statistics {
    @include flex(row, center, center, 16px);
  }

  &__stats {
    @include indents();
    font-weight: 900;
    color: $main-color;
  }
}