@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.leaderBoard {
  @include min-size(100%, calc(100vh + 1px));
  @include flex(column, space-between, center);
  @include indents(16px 0 0 0, 0);
  background-color: $secondary-color;
  z-index: 3;

  &__header {
    @include position(relative);
    @include size(100%, 10vh);
    @include flex(row, center, center);
  }

  &__chevron {
    @include button-style-reset();
    @include position(absolute, $top: 10px, $left: 16px);
    transform: translateY(-50%);
  }

  &__heading {
    @include indents();
    @include size(80%, auto);
    @include page-title();
  }

  &__leader {
    @include size(100%, 30vh);
    @include position(relative);
    @include flex(column, flex-end, flex-end);
    margin-right: 30px;

    @media screen and (min-height: 691px) {
      @include size(100%, 20vh);
      margin-bottom: 20px;
    }
  }

  &__leaderInfo {
    @include position(absolute, $left: 70%, $top: 47%);
    @include size(70%, auto);
    @include flex(column, center, center, 4px);
    align-self: center;
    transform: translate(50%, 50%);
  }

  &__avatarContainer {
    @include indents();
    @include position(absolute, $top: -55%, $left: -35%);
    @include size(180px, 180px);
  }

  &__label {
    @include position(absolute, $right: 10%, $bottom: 7%);
    @include indents(6px 8px, 0);
    background-color: $main-color;
    border-radius: $radius-12;
    color: $secondary-color;
    font-style: italic;
    font-weight: 900;
    font-size: 18px;
    transform: rotate(-15deg);
    z-index: 3;
  }

  &__leaderText {
    @include indents();
    @include ellipsis();
    color: $black-color;
    font-weight: 900;
    font-size: 18px;
  }

  &__leaderName {
    @include indents();
    @include ellipsis();
    color: $secondary-color;
    font-weight: 900;
    font-size: 16px;
  }

  &__jew {
    font-style: normal;
  }

  &__board {
    @include indents(12px 16px 0, 0 20px 0 0);
    @include flex(column, flex-start, flex-end, 16px);
    @include size(100%, 50vh);
    overflow-y: auto;
  }

  &__background {
    @include position(relative);
    @include size(259px, 106px);
    background-image: url('../../images/leader_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__timeWrapper {
    @include size(auto, auto);
    @include flex(column, space-between, flex-end, 4px);
    @include position(absolute, $right: 7%, $bottom: 106px);
  }

  &__prize {
    @include flex(row, flex-end, center, 6px);
    font-weight: 900;
    color: $main-color;
    font-size: 14px;
  }

  &__prizePhoto {
    @include size(40px, 40px);
  }
}