@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

@keyframes floatingAvatar {
  0% { transform: translate(-150px, 0); }
  50% { transform: translate(-150px, -5px); }
  100% { transform: translate(-150px, 0); }
}

@keyframes floatingAvatarMobile {
  0% { transform: translate(10px, 0); }
  50% { transform: translate(10px, -5px); }
  100% { transform: translate(10px, 0); }
}

.leaderBoard {
  @include min-size(100%, 100vh);
  @include flex(column, flex-start, center, $space-4);
  @include indents($space-16 0 0 0, 0);
  background-color: $secondary-color;
  z-index: 3;
  height: 100vh;

  &__header {
    @include position(relative);
    @include size(100%, auto);
    @include flex(column, center, center, $space-8);
    padding-bottom: $space-16;
  }

  &__heading {
    @include indents();
    @include size(60%, auto);
    @include page-title();
  }

  &__leader {
    @include size(100%, 30vh);
    @include position(relative);
    @include flex(column, center, flex-end);

    @media screen and (max-width: 691px) {
      // @include size(100%, auto);
      margin-bottom: $space-20;
    }
  }

  &__leaderInfo {
    @include position(absolute, $left: 55%, $top: 70%);
    @include size(70%, auto);
    @include flex(column, center, center, $space-4);
    align-self: center;
    transform: translate(-50%, -50%);
  }

  &__avatarContainer {
    @include indents();
    @include position(absolute, $top: 0%, $left: 30%);
    @include size(180px, 180px);
    animation: floatingAvatar 3s ease-in-out infinite;

    @media screen and (max-width: 379px) {
      @include position(absolute, $top: 0%, $left: -30%);
      @include size(140px, 140px);
      animation-name: floatingAvatarMobile;
    }
  }

  &__infoContainer {
    @include size(auto, auto);
    @include flex(row, flex-end, flex-start, $space-12);
    @include position(absolute, $right: 7%, $top: 100%);
    transform: translateY(-50%);
  }

  &__timeWrapper {
    @include size(auto, auto);
    @include flex(column, space-between, center, $space-4);
    padding: $space-8;
    background: rgba($black-color, 0.08);
    backdrop-filter: blur(2px);
    border-radius: $radius-12;
    opacity: 0.8;
  }

  &__prize {
    @include flex(row, flex-end, center, $space-4);
    font-weight: 600;
    color: $main-color;
    font-size: 13px;
  }

  &__prizeRestart {
    @include flex(row, flex-end, center, $space-4);
    font-weight: 600;
    color: $main-color;
    font-size: 11px;
  }

  &__prizePhoto {
    @include size(20px, 20px);
  }

  &__background {
    @include position(relative);
    @include size(259px, 106px);
    background-image: url('../../images/leader_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__board {
    @include indents($space-12 $space-16 $space-16, 0 $space-20 0 0);
    @include flex(column, center, flex-end, $space-16);
    @include size(100%, 100%);
    // flex: 1 1 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &__text {
    @include indents();
    color: $main-color;
    font-size: 14px;
  }

  &__leaderText {
    @include indents();
    @include ellipsis();
    @include flex(row, center, center, $space-4);
    color: $black-color;
    font-weight: 900;
    font-size: 18px;
  }

  &__leaderName {
    @include indents();
    @include ellipsis();
    color: $secondary-color;
    font-weight: 900;
    font-size: 16px;
  }

  &__type {
    @include indents();
    color: $main-color;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: $space-8 $space-16;
    border-radius: $radius-12;
    background: rgba($black-color, 0.2);
    box-shadow: 0 4px 16px rgba($main-color, 0.4);
  }
}