@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.leaderBoard {
  @include size(100%, 100vh);
  @include flex(column, space-between, center, 20px);
  @include indents(16px 0 0 0, 0);
  background-color: $secondary-color;
  z-index: 3;

  &__header {
    @include position(relative);
    @include size(100%, 10vh);
    @include flex(row, center, center);
  }

  &__chevron {
    @include button-style-reset();
    @include position(absolute, $top: 50%, $left: 16px);
    transform: translateY(-50%);
  }

  &__heading {
    @include indents();
    color: $main-color;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
  }

  &__leader {
    @include size(100%, 30vh);
    @include flex(column, space-around, center, 20px);
  }

  &__leaderInfo {
    @include size(70%, auto);
    @include flex(row, space-between, center, 20px);
  }

  &__avatarContainer {
    @include indents();
    @include size(180px, 180px);
    @include position(relative);
  }

  &__label {
    @include position(absolute, $right: -10%, $bottom: -5%);
    @include indents(8px 12px, 0);
    background-color: $main-color;
    border-radius: $radius-15;
    color: $tetriary-color;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    transform: rotate(-15deg);
    z-index: 3;
  }

  &__leaderText {
    @include indents();
    color: $main-color;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
  }

  &__jew {
    font-style: normal;
  }

  &__board {
    @include size(100%, auto);
    flex-grow: 1;
    overflow: scroll;
    z-index: 3;
  }
}