@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.players {
  @include position(relative);
  @include size(100%, calc(100% - 25vh));

  @media screen and (min-height: 691px) {
    @include position(relative);
    @include size(100%, calc(100% - 20vh));
    margin-top: 20px;
  }

  &__player {
    @include size(90px, 90px);
    @include flex(row, center, center);
  }
  
  &__player:nth-child(1) {
    @include position(absolute, $top: 5%, $left: 15%);
    transform: translateX(-50%);
  }
  
  &__player:nth-child(2) {
    @include position(absolute, $top: 5%, $right: -15%);
    transform: translateX(-50%);
  }
  
  &__player:nth-child(3) {
    @include position(absolute, $bottom: 10%, $left: 50%);
    transform: translateX(-50%);
  }
}

