@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

@keyframes valueChange {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

@keyframes shine {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes skinChange {
  0% {
    transform: scale(1) rotate(0deg);
    filter: brightness(1);
  }
  50% {
    transform: scale(.8) rotate(1080deg);
    filter: brightness(1.5) saturate(1.5);
  }
  100% {
    transform: scale(1) rotate(1800deg);
    filter: brightness(1);
  }
}

.user {
  @include indents();
  @include size(100%, auto);
  @include flex(row, flex-end, center, 10px);
  font-family: 'Rubik', sans-serif;
  z-index: 10;

  &__avatarContainer {
    @include indents();
    @include position(absolute, $top: -20%, $left: -25%);
    @include size(130px, 130px);
    transition: all 0.3s ease;

    @media screen and (max-width: 379px) {
      @include size(120px, 120px);
    }

    &.changingSkin {
      animation: skinChange 1s ease-in;
    }
  }

  &__userInfo {
    @include position(relative);
    @include indents(16px 26px 16px 16px, 0);
    @include size(70%, auto);
    @include flex(column, center, flex-end);
    background-color: $main-color;
    border-radius: $radius-10;
  }

  &__textElements {
    @include size(80%, auto);
    @include flex(column, space-between, flex-end, 10px);
  }

  &__money {
    @include size(100%, auto);
    @include flex(row, flex-end, center, 10px);
  }

  &__name {
    @include indents();
    color: $black-color;
    font-weight: 900;
    font-size: 14px;
    line-height: 1;

    @media screen and (max-width: 379px) {
      font-size: 12px;
    }
  }

  &__text {
    @include indents();
    @include ellipsis();
    @include size(auto, 100%);
    @include min-size(auto, 24px);
    @include flex(row, center, center, $space-4);
    color: $black-color;
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    position: relative;
    will-change: transform, filter;
    transform: translateZ(0);
    
    span {
      display: inline-flex;
      align-items: center;
    }

    &.animate {
      animation: valueChange 0.5s ease-out;
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(0, 0, 0, 0.1) 50%,
        transparent 100%
      );
      background-size: 200% 100%;
      animation: valueChange 0.5s ease-out, shine 0.5s ease-out;
    }
  }

  &__balance {
    @include button-style-reset();
    @include size(85px, auto);
    @include flex(row, space-evenly, center);
    @include indents(8px, 0);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    border-radius: $radius-40;
    background-color: $black-color;
    text-align: center;
    color: $main-color;
    font-size: 10px;

    @media screen and (max-width: 379px) {
      @include size(68px, auto);
      @include indents(6px, 0);
    }
  }
}