@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.players {
  @include position(relative);
  @include size(100%, calc(100% - 25vh));

  @media screen and (min-height: 691px) {
    @include position(relative);
    @include size(100%, calc(100% - 20vh));
    margin-top: 20px;
  }

  &__player {
    @include size(55px, 55px);
    @include flex(row, center, center);
  }
  
  &__player:nth-child(1) {
    @include position(absolute, $top: 0, $left: 35%);
    transform: translateX(-50%);
  }
  
  &__player:nth-child(2) {
    @include position(absolute, $top: 0, $left: 65%);
    transform: translateX(-50%);
  }
  
  &__player:nth-child(3) {
    @include position(absolute, $top: 15%, $left: 25%);
    transform: translateX(-50%);
  }
  
  &__player:nth-child(4) {
    @include position(absolute, $top: 15%, $left: 75%);
    transform: translateX(-50%);
  }
  
  &__player:nth-child(5),
  &__player:nth-child(6),
  &__player:nth-child(7) {
    @include position(absolute, $bottom: 25%, $left: 35%);
    transform: translateX(-50%);
  }
  
  &__player:nth-child(5) {
    left: 20%;
  }
  
  &__player:nth-child(6) {
    left: 50%;
  }
  
  &__player:nth-child(7) {
    left: 80%;
  }
  
  &__player:nth-child(8),
  &__player:nth-child(9) {
    @include position(absolute, $bottom: 10%);
    transform: translateX(-50%);
  }
  
  &__player:nth-child(8) {
    left: 35%;
  }
  
  &__player:nth-child(9) {
    left: 65%;
  }
}

