@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal {
  @include indents(16px);
  @include position(fixed, $top: 50%, $left: 50%);
  @include flex(column);
  @include size(343px, 168px);
  transform: translate(-50%, -50%);
  border-radius: $radius-15;
  background-color: $closest-secondary-color;
  background-image: url('../../../images/closest-number/Layer_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 667;
  animation: pulse 1s ease-in-out infinite;

  &__title {
    @include indents();
    color: $main-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__draw {
    @include size(100%, 100%);
    @include flex(row, center);
  }

  &__drawatar {
    @include size(80px, 80px);
  }

  &__tieContainer {
    @include flex(column, center, center, 6px);
  }

  &__buttons {
    @include size(100%, auto);
    @include flex(row, center, center, 10px);
    @include position(absolute, $bottom: -30%, $left: 50%);
    transform: translate(-50%);
  }

  &__button {
    @include button-style-reset();
    @include size(100%, 44px);
    font-family: 'Rubik', sans-serif;
    border-radius: 32px;
    border: 1px $black-color solid;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $closest-secondary-color;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
  }

  &__content {
    @include position(relative);
    @include size(100%, 100%);
    @include flex(row, space-between, center);
  }

  &__columnContent {
    @include position(relative);
    @include size(100%, 100%);
    @include flex(column, space-between, center);
  }

  &__avatar {
    @include position(absolute, $top: 45%, $left: 50%);
    transform: translate(-50%, -50%);
    @include size(100px, 100px);
  }

  &__winnerValue {
    @include indents(4px 8px, 0);
    @include flex(row, center, center);
    background-color: $main-color;
    border-radius: 32px;
    margin-right: 10px;
    line-height: 1;
  }

  &__text {
    @include indents();
    color: $main-color;
    font-size: 36px;
  }

  &__name {
    @include ellipsis();
    @include indents(2px 8px, 0);
    @include size(100%, auto);
    @include position(absolute, $bottom: 0, $left: 50%);
    transform: translate(-50%);
    color: $black-color;
    background-color: $main-color;
    border-radius: $radius-10;
    z-index: 5;
    font-weight: 900;
    font-size: 12px;
    text-align: center;
  }
}

.close {
  @include button-style-reset();
  @include size(20px, 20px);
  @include position(absolute, $top: 6px, $right: 6px);
  cursor: pointer;
  background-color: $main-color;
  border-radius: $radius-round;
}