@use "../../../stylesheets/mixins" as *;
@use "../../../stylesheets/variables" as *;

.bar {
  @include size(100%, 100%);
  overflow: visible;

  &__wrapper {
    position: relative;
    @include size(120px, 120px);

    @media screen and (max-height: 691px) {
      @include size(100px, 100px);
    }
  }

  &__textContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    @include indents();
    color: $black-color;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    position: absolute;

    &.bar__textAnimated {
      animation: numberAnimation 4s ease-in-out;
    }
  }

  &__innerCircle {
    fill: $main-color;
  }

  &__outerCircle {
    fill: transparent;
    stroke: $black-color;
    stroke-width: 6px;
  }

  &__progressPoint {
    fill: $closest-secondary-color;
    transition: transform 5s linear;
    z-index: 666;
    stroke: $black-color;
    stroke-width: 5px;
  }

  &__animated {
    animation: spin 4s linear forwards;
  }

  @keyframes spin {
    0% {
      transform-origin: 50px 50px;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 50px 50px;
      transform: rotate(3600deg);
    }
  }

  @keyframes numberAnimation {
    0% {
      filter: blur(0px);
      transform: scale(1);
    }
    10% {
      filter: blur(2px);
      transform: scale(1.1);
    }
    85% {
      filter: blur(2px);
      transform: scale(1.1);
    }
    100% {
      filter: blur(0px);
      transform: scale(1);
    }
  }
}
