@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

@mixin textScrollAnimation {
  $steps: 80;
  @for $i from 0 through $steps {
    #{$i * (100 / $steps)}% {
      transform: translateY(if($i % 2 == 0, 100%, -100%));
      filter: blur(2px);
    }
  }
}

.bar {
  @include size(120px, 120px);
  overflow: visible;

  @media screen and (max-height: 691px) {
    @include size(100px, 100px);
  }
  
  &__innerCircle {
    fill: $main-color;
  }
  
  &__outerCircle {
    fill: transparent;
    stroke: $black-color;
    stroke-width: 6px;
  }
  
  &__progressPoint {
    fill: $closest-secondary-color;
    transition: transform 5s linear;
    z-index: 666;
    stroke: $black-color;
    stroke-width: 5px;
  }

  &__animated {
    animation: spin 4s linear forwards;
  }

  &__textContainer {
    @include position(absolute, $left: 50%, $top: 50%);
    @include size(60px, 20px);
    @include flex(row, center, center);
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  &__text {
    @include indents();
    fill: $black-color;
    font-size: 20px;
    font-weight: 900;
    transform-origin: 50% 50%;
    text-align: center;
    transition: all 0.1s ease-in-out;
    position: absolute;
    
    &.bar__textAnimated {
      animation: textScroll 4s ease-in-out;
      transform-style: preserve-3d;
      perspective: 1000px;
    }
  }

  // &__blurText {
  //   filter: url('#blurFilter');
  // }

  // &__noBlur {
  //   filter: none;
  // }

  &__textAnimated {
    animation: textScroll 4s linear;
    animation: none;
  }

  @keyframes spin {
    0% {
      transform-origin: 50px 50px;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 50px 50px;
      transform: rotate(3600deg);
    }
  }

  @keyframes textScroll {
    0% {
      transform: translateY(0);
      filter: blur(0px);
    }
    15% {
      transform: translateY(-120%);
      filter: blur(2px);
    }
    16% {
      transform: translateY(120%);
      filter: blur(2px);
    }
    30% {
      transform: translateY(-120%);
      filter: blur(2px);
    }
    31% {
      transform: translateY(120%);
      filter: blur(2px);
    }
    45% {
      transform: translateY(-120%);
      filter: blur(2px);
    }
    46% {
      transform: translateY(120%);
      filter: blur(2px);
    }
    60% {
      transform: translateY(-120%);
      filter: blur(2px);
    }
    61% {
      transform: translateY(120%);
      filter: blur(2px);
    }
    95% {
      transform: translateY(-50%);
      filter: blur(1px);
    }
    100% {
      transform: translateY(0);
      filter: blur(0px);
    }
  }
}
