@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.banner {
  @include children-layout();
  padding-bottom: 16px;
  justify-content: space-between;

  &__pic {
    @include size(100%, 120px);
    @include flex(column, center, center, 12px);
    border-radius: $radius-12;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;

    @media screen and (max-height: 691px) {
      @include size(100%, 106px);
    }
  }

  &__header {
    @include size(100%, unset);
    @include flex(column, center, center, 12px);
  }

  &__info {
    @include position(absolute, $left: 16px, $top: 20%);
    @include flex(column, space-between, flex-start);
    @include ellipsis();
  }

  &__picHeader {
    @include indents();
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: $black-color;
    text-align: left;
  }

  &__title {
    @include indents(16px 16px 0, 0);
    font-weight: 700;
    color: $main-color;
    font-size: 16px;
    text-align: center;
  }

  &__content {
    @include size(100%, auto);
    @include flex(column, center, center, 10px);
  }

  &__infoText {
    @include indents();
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: $black-color;
    text-align: left;
    font-size: 14px;
  }

  &__text {
    @include size(calc(100% - 32px), unset);
    @include indents();
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  &__button {
    @include indents(0 16px, 0 0 20px 0);
    @include size(100%, 40px);
  }
}