@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.banner {
  @include children-layout();
  padding: $space-16 0;
  justify-content: space-between;

  &__content {
    @include size(100%, auto);
    @include flex(column, flex-start, center, $space-16);
    padding-top: $space-16;
  }

  &__header {
    @include size(100%, unset);
    @include flex(column, center, center, $space-8);
  }

  &__pic {
    @include size(100%, 100%);
    @include min-size(100%, 120px);
    @include flex(column, center, center);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: $radius-15;
    overflow: hidden;
    z-index: 4;
    
    @media screen and (min-height: 691px) {
      height: 136px;
    }
  
    @media screen and (max-width: 430px) {
      height: 106px;
      background-size: 100% auto;
    }
  }

  &__info {
    @include size(100%, 100%);
    @include flex(column, space-between, flex-start);
    position: relative;
  }

  &__picHeader {
    @include indents();
    @include size(60%, auto);
    @include min-size(60%, 28px);
    @include position(absolute, $left: $space-16, $top: 20%);
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.2;
    text-wrap: wrap;
    text-align: left;
    
    @media screen and (max-width: 379px) {
      font-size: 12px;
      top: 25%;
    }
  }

  &__infoText {
    @include indents();
    @include position(absolute, $left: $space-16, $bottom: 10%);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    text-wrap: nowrap;
    text-align: left;
    
    @media screen and (max-width: 379px) {
      font-size: 11px;
      bottom: 12%;
    }

    @media screen and (max-width: 338px) {
      bottom: 15%;
    }
  }

  &__title {
    @include indents(0);
    font-weight: 700;
    color: $main-color;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding: 0 $space-16;
    
    @media screen and (max-width: 379px) {
      font-size: 14px;
    }
  }

  &__text {
    @include size(100%, auto);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    color: $main-color;
    word-wrap: break-word;
    padding: 0 $space-16;

    @media screen and (max-width: 379px) {
      font-size: 12px;
    }
  }

  &__button {
    @include size(calc(100% - #{$space-32}), 40px);
    margin: 0 $space-16;

    @media screen and (max-width: 379px) {
      height: 32px;
    }
  }
}