@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.banner {
  @include children-layout();
  padding-bottom: 16px;
  justify-content: space-between;

  &__pic {
    @include size(100%, 120px);
    @include flex(column, center, center, 12px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    border-radius: $radius-20;

    @media screen and (max-height: 691px) {
      @include size(100%, 106px);
    }

    @media screen and (max-width: 430px) {
      background-size: contain;
    }
  }

  &__header {
    @include size(100%, unset);
    @include flex(column, center, center, 12px);
  }

  &__info {
    @include flex(column, space-between, flex-start);
    @include ellipsis();
    position: relative;
    @include size(100%, 100%);
  }

  &__picHeader {
    @include indents();
    @include size(60%, auto);
    @include min-size(60%, 28px);
    @include position(absolute, $left: 16px, $top: 20%);
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-align: left;
    text-wrap: wrap;
    font-size: 13px;
    line-height: 1;

    @media screen and (min-width: 420px) {
      @include position(absolute, $left: 16px, $top: 20%);
    }

    @media screen and (max-width: 379px) {
      font-size: 11px;
      top: 24px;
    }
  }

  &__title {
    @include indents(18px 16px 0, 0);
    font-weight: 700;
    color: $main-color;
    font-size: 16px;
    text-align: center;
  }

  &__content {
    @include size(100%, auto);
    @include flex(column, center, center, 10px);
  }

  &__infoText {
    @include indents();
    @include position(absolute, $left: 16px, $bottom: 10%);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    font-size: 12px;

    @media screen and (min-width: 420px) {
      @include position(absolute, $left: 16px, $bottom: 8%);
    }

    @media screen and (max-width: 379px) {
      font-size: 10px;
    }
  }

  &__text {
    @include size(calc(100% - 32px), unset);
    @include indents();
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    color: $main-color;
  }

  &__button {
    @include indents(0 16px, 0 0 20px 0);
    @include size(100%, 40px);
  }
}