@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.button {
  @include button-style-reset();
  @include position(relative);
  @include indents(12px, 0);
  @include flex(column, center, flex-start);
  @include size(100%, 100%);
  text-decoration: none;
  border-radius: $radius-15;
  font-family: 'Rubik', sans-serif;


  @media screen and (max-width: 379px) {
    @include indents(10px, 0);
  }

  &__textWrapper {
    @include size(90%, 100%);
    @include flex(column, space-between, flex-start, 16px);
  }

  &__text,
  &__secondaryText {
    @include indents();
    @include size(100%, auto);
    @include flex(row, flex-start, center, 10px);
    line-height: 1;
    text-wrap: balance;


    @media screen and (max-width: 379px) {
      gap: 6px;
    }
  }

  &__text {
    color: $mustard-color;
    font-size: 16px;
    font-weight: 700;
    text-align: left;

    @media screen and (max-width: 379px) {
      font-size: 12px;
    }
  }

  &__secondaryText {
    color: $main-color;
    font-size: 12px;
    font-weight: 200;
    text-align: left;


    @media screen and (max-width: 379px) {
      font-size: 9px;
      font-weight: 600;
    }
  }

  &__chevronWrapper {
    @include position(absolute, $right: 10px, $bottom: 10px);


    @media screen and (max-width: 379px) {
      @include size(18px, 18px);
    }
  }

}

.whiteButton {
  background-color: $main-color;
}

.blackButton {
  background-color: $black-color;
}

.secondaryTextColor {
  color: $secondary-color;
}

.secondaryAlternativeTextColor {
  color: $black-color;
}