@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.button {
  @include position(relative);
  @include indents(16px, 0);
  @include flex(column, center, flex-start);
  @include min-size(179px, auto);
  @include size(100%, 100%);
  text-decoration: none;
  border-radius: $radius-12;

  &__textWrapper {
    @include flex(column, space-between, flex-start, 16px);

  }

  &__text, &__secondaryText {
    @include indents();
  }

  &__text {
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  &__secondaryText {
    color: $black-color;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }

  &__chevronWrapper {
    @include position(absolute, $right: 16px, $bottom: 10px);
  }

}

.whiteButton {
  background-color: $main-color;
}

.pinkButton {
  background-color: $secondary-color;
}

.secondaryTextColor {
  color: $secondary-color;
}