@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.warning {
  @include size(100vw, 100vh);
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  color: $main-color;
  position: relative;

  &__desktop {
    @include size(100%, 100%);
    @include flex(column, center, center, 32px);
    @include position(relative);
  }

  &__content {
    @include flex(column, center, center, 32px);
    @include position(absolute, $top: 0, $left: 50%);
    transform: translateX(-50%);
  }

  &__logo {
    @include size(133px, 38px);
  }

  &__qr {
    @include size(200px, auto);
    @include position(relative);
    z-index: 2;
  }

  &__girl {
    @include position(absolute, $bottom: 0, $left: 20%);
    transform: translateX(-50%);
    max-height: 60vh;
    z-index: 3;
  }

  &__text {
    @include indents(8px 0, 0);
    @include size(90%, auto);
    @include position(absolute, $bottom: 20%, $left: 50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    z-index: 4;
    border-radius: $radius-15;
    color: $secondary-color;
    background-color: $main-color;
  }
}