@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.leader {
  @include position(relative);
  @include size(95%, 60px);
  @include indents(0 16px, 0);
  @include flex(row, flex-end, center);

  &__container {
    @include size(90%, 48px);
    @include flex(row, space-between, center, 16px);
  }

  &__avatarWrapper {
    @include indents();
    @include position(absolute, $top: -40%, $left: -7%);
    @include size(64px, 64px);
    @include flex(row, center, center);
    z-index: 5;
  }

  &__avatarBackground {
    @include position(absolute, $top: 0, $left: 0);
    @include size(100%, 100%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &__avatar {
    @include size(100%, 100%);
    @include position(absolute, $top: 0, $left: 0);
    z-index: 1;
    mask-composite: exclude;
    mask-size: cover;
  }

  &__text {
    @include indents();
    @include ellipsis();
    @include size(90px, unset);
    text-align: left;
    color: $main-color;
    font-weight: 900;
    font-size: 14px;
    font-style: italic;
  }

  &__number {
    @include indents();
    color: $main-color;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
  }

  &__gainWrapper {
    @include flex(row, flex-start, center, 16px);
  }
}

.roundedBorders {
  border-top-left-radius: $radius-15;
  border-top-right-radius: $radius-15;
}

.lowRoundedBorders {
  border-bottom-left-radius: $radius-15;
  border-bottom-right-radius: $radius-15;
}