@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;


.overlay {
  @include flex(column, flex-start, center);
  @include position(fixed, $bottom: 0, $left: 0);
  @include size(100%, 0);
  background-color: $secondary-color;
  overflow: hidden;
  transition: height 1s ease;

  &__children {
    @include size(calc(100% - 32px), 100%);
  }
}

.overlay.active {
  @include size(unset, calc(100% - 30vh));
  z-index: 666;
}