@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.button {
  @include button-style-reset();
  @include position(relative);
  // @include indents(10px, 0);
  @include max-size(100%, 166px);
  @include size(100%, 100%);
  aspect-ratio: 1;
  background-color: $secondary-color;
  border-radius: $radius-15;
  text-decoration: none;

  &__text {
    @include indents();
    @include size(60%, auto);
    @include position(absolute, $left: 12px, $top: 12px);
    @include flex(row, flex-start, center, 10px);
    color: $secondary-color;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  &__secondaryText {
    @include indents();
    @include position(absolute, $left: 12px, $bottom: 12px);
    @include size(60%, auto);
    color: $black-color;
    text-align: left;
    font-size: 11px;
    font-weight: 200;
  }

  &__buttonContainer {
    @include position(absolute, $right: 12px, $bottom: 12px);
  }
}

.whiteButton {
  background-color: $main-color;
}

.blackButton {
  background-color: $black-color;
}