@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.button {
  @include position(relative);
  @include indents(10px, 0);
  @include size(100%, 190px);
  @include button-style-reset();
  background-color: $secondary-color;
  border-radius: $radius-12;
  text-decoration: none;

  &__text {
    @include indents();
    @include size(60%, auto);
    @include position(absolute, $left: 16px, $top: 16px);
    color: $secondary-color;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
  }

  &__secondaryText {
    @include indents();
    @include position(absolute, $left: 16px, $bottom: 16px);
    @include size(58%, auto);
    color: $black-color;
    text-align: left;
    font-size: 12px;
  }

  &__buttonContainer {
    @include position(absolute, $right: 16px, $bottom: 16px);
  }
}

.whiteButton {
  background-color: $main-color;
}

.blackButton {
  background-color: $black-color;
}