@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.slider {
  @include indents(8px, 0);
  @include size(100%, auto);
  @include max-size(194px, 52px);
  @include flex(row, space-between, center);
  background-color: $secondary-color;
  border-radius: $radius-10;

  &__text {
    @include indents();
    font-size: 16px;
    color: $main-color;
    font-weight: 900;
  }

  &__button {
    @include button-style-reset();
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  &__input {
    border: none;
    background-color: inherit;
    @include size(64px, auto);
    text-align: center;
    font-size: 16px;
    color: $main-color;
    font-weight: 900;
  }
}
