@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.balance {
  @include indents();
  @include flex(column, flex-start, center, 20px);
  @include size(100%, 100%);
  background-color: $tetriary-color;
  border-top-left-radius: $radius-15;
  border-top-right-radius: $radius-15;

  &__content {
    @include indents();
    @include size(100%, 140px);
    background-color: $tetriary-color;
  }

  &__chevron {
    @include button-style-reset();
  }

  &__amount {
    @include indents(0 16px, 0);
    @include size(100%, 140px);
    @include flex(column, center, flex-start, 20px);
    border: 1px $main-color solid;
    border-radius: $radius-12;
  }

  &__h3 {
    @include indents(16px, 0);
    font-weight: 900;
    color: $main-color;
    font-size: 16px;
    text-align: left;
  }
}