@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.game {
  @include children-layout();
  justify-content: flex-start;
  // background-color: $tertiary-color;

  &__logo {
    @include max-size(120px, 120px);
    @include size(100%, 100%);
    @include position(absolute, $top: -5%, $left: 30%);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 777;
  }

  &__content {
    @include flex(column, space-evenly, center, 10px);
    @include indents(0, 20% 0 0 0);
    @include size(100%, 100%);
  }

  &__title {
    @include indents();
    text-transform: uppercase;
    color: $main-color;
    font-style: italic;
    font-weight: 900;
  }

  &__balance { 
    @include indents(8px 0, 0);
    @include size(100%, auto);
    @include max-size(100%, 62px);
    @include flex(column, center, center, 8px);
    background-color: $black-color;
  }

  &__text {
    @include indents();
    font-size: 16px;
    color: $main-color;
    font-weight: 900;
  }

  &__balanceWrapper {
    @include flex(row, center, center, 20px);
  }

  &__buttonWrapper {
    @include size(calc(100% - 32px), 40px);
  }

  &__buttons {
    @include size(100%, auto);
    @include flex(column, center, center, 8px);
  }

  &__menu {
    @include flex(column, center, center, 8px);
  }

  &__notification {
    color: $main-color;
    @include indents(0, 60px 0 0 0);
    @include size(100%, 100%);
    @include flex(column, center, center);
  }
}
