@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.game {
  @include indents(16px, 0);
  @include size(100%, 100vh);
  @include position(relative);
  background-image: url('../../images/closest-number/layer.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $closest-color;

  &__text {
    @include indents();
    color: $main-color;
    font-size: 16px;

    @media screen and (min-height: 691px) {
      font-weight: 900;
      color: $main-color;
      font-size: 19px;
    }
  }

  &__betContainer {
    @include flex(column, center, center);
  }

  &__bet {
    @include indents(6px 16px, 0);
    @include flex(row, center, center, 4px);
    background-color: $closest-secondary-color;
    color: $main-color;
    border-radius: $radius-40;

    @media screen and (min-height: 691px) {
      @include size(100px, 48px);
    }
  }
}

.overlay {
  @include indents(8px 16px 0, 0);
  @include size(100%, unset);
  @include position(absolute, $bottom: 0, $left: 50%);
  @include flex(column, flex-start, center);
  transform: translate(-50%);
  background-color: $closest-secondary-color;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  height: auto;
  transition: height 1s ease-in-out;
  font-family: 'Rubik', sans-serif;

  &__inputWrapper {
    @include size(100%, auto);
    @include flex(row, space-between, center, 10px);
  }

  &__avatarWrapper {
    @include size(103px, 103px);
  }

  &__input {
    @include indents(10px, 0);
    border: none;
    border-radius: $radius-40;
    flex-grow: 1;
  }

  &.expanded {
    @include size(100%, unset);
    height: 45%;
  }

  &__keyboard {
    @include position(relative);
    @include size(105%, auto);
    @include flex(row, center, center, 8px);
    flex-wrap: wrap;
  }

  &__key {
    @include size(109px, 30px);
    background-color: #FFE591;
    color: $black-color;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    font-size: 26px;
    cursor: pointer;
  }

  &__bottomLeftButton {
    @include position(absolute, $bottom: 0, $left: 10px);
    background: #FF9188;
    font-size: 1em;
    border: .5px black solid;
  }

  &__bottomRightButton {
    @include position(absolute, $bottom: 0, $right: 10px);
    background: #66FF6C;
    border: .5px black solid;
    font-size: 1em;
  }
}